@import '../../styles.scss';

a {
  display: block;
  width: 100%;
  text-decoration: none;
  border: 1px solid $primary-blue;
  color: $primary-blue;
  padding: 10px;
  transition-duration: 0.5s;

  &:hover {
    background-color: $primary-blue;
    color: white;
    font-weight: bold;
    transition-duration: 0.5s;
  }
}

a.active {
  background-color: $primary-blue;
  color: white;
  font-weight: bold;
}
