<img src="../../assets/game_logo.png" style="width: 100%; height: 100px; margin-top: 20px" />

<div>
  <a routerLink="planet" routerLinkActive="active">Planète</a>
  <a routerLink="buildings" routerLinkActive="active">Bâtiments</a>
  <a routerLink="resources" routerLinkActive="active">Ressources</a>
  <a routerLink="ships" routerLinkActive="active">Vaisseaux</a>
  <a routerLink="units" routerLinkActive="active">Unités</a>
  <a routerLink="map" routerLinkActive="active">Carte spatiale</a>
  <a routerLink="clan" routerLinkActive="active">Coalition</a>
  <a routerLink="settings" routerLinkActive="active">Options</a>
  <a routerLink="logout" class="mt-6">Déconnexion</a>
</div>

<p>lol</p>
