<div class="buildings-container">

  <!-- Building list -->
  <div class="building-list p-10">
    <h1 class="title mb-2">Mes bâtiments</h1>

    <div class="flex flex-col md:flex-row md:flex-wrap">
      <div class="building-card info-container active">
        <img src="../../assets/building.png" />
        <p>Centre de recherche</p>
      </div>

      <div class="building-card info-container">
        <img src="../../assets/building.png" />
        <p>Caserne</p>
      </div>

      <div class="building-card info-container">
        <img src="../../assets/building.png" />
        <p>Spatio-port</p>
      </div>

      <div class="building-card info-container">
        <img src="../../assets/building.png" />
        <p>Antenne de communication</p>
      </div>

      <div class="building-card info-container buy">
        <img src="../../assets/building.png" />
        <p>Entrepôt</p>
        <span>Acheter</span>
      </div>

      <div class="building-card info-container buy">
        <img src="../../assets/building.png" />
        <p>Sous-terrains</p>
        <span>Acheter</span>
      </div>
    </div>
  </div>

  <!-- Building more info -->
  <div class="building-more flex flex-col md:flex-row">
    <!-- Building details -->
    <div class="flex flex-col w-full md:w-1/4 text-center">
      <img src="../../assets/building.png" class="mx-auto" width=150 />
      <p class="title2"><b>Centre de recherche</b></p>
      <p>Bât. niveau 3</p>
      <hr class="my-3" />
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reprehenderit sunt totam, tempore voluptatibus qui
        repudiandae repellat vitae quam incidunt ratione laboriosam aperiam corporis quaerat cupiditate, nobis hic alias
        veniam nemo.</p>
    </div>

    <!-- Building special content -->
    <div class="w-full md:w-3/4">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus numquam eligendi vel consequatur, amet, nihil
        rem saepe incidunt vero quos accusantium suscipit fugiat cupiditate minima inventore voluptatibus ab expedita
        recusandae!</p>
    </div>

  </div>
</div>
