/* You can add global styles to this file, and also import other style files */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

$primary-blue: #2196f3;
$dim-blue: #2f7dbd;


html, body {
  height: 100%;
  background-color: rgb(39, 39, 39);
}

* {
  color: white;
}

.info-container {
  border: 1px solid $primary-blue;
  padding: 10px;
  background-color: black;
  color: white;
  display: inline-flex;
}

.info-container h1 {
  color: $primary-blue;
  font-size: 1.5rem;
  margin-bottom: 15px;
}

.title {
  @apply text-3xl;
  color: $primary-blue;
}

.title2 {
  @apply text-lg;
  color: $primary-blue;
}

